@model MeetingRoomCreateModel
@{
    ViewData["Title"] = "Create";
}


<div class="container-fluid">
    <partial name="../Shared/PartialViews/_ResponsePartial.cshtml" />
    <div class="d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card-header">
                <h3 class="card-title">Create New Meeting Room</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form enctype="multipart/form-data" asp-antiforgery="true" asp-area="Admin"
                  asp-controller="MeetingRoom" asp-action="Create" method="post" id="createForm">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="MeetingRoomTitle"></label>
                        <input asp-for="MeetingRoomTitle" type="text" class="form-control form-control-sm" id="meetingRoomTitle" name="meetingRoomTitle" placeholder="Meeting Room Title">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Location"></label>
                                <input asp-for="Location" type="text" class="form-control form-control-sm" id="location" name="location" placeholder="Location">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Capacity"></label>
                                <input asp-for="Capacity" type="text" class="form-control form-control-sm" id="capacity" name="capacity" placeholder="Capacity">
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Facilities"></label>
                            <input asp-for="Facilities" type="text" class="form-control form-control-sm" id="facilities" name="facilities" placeholder="Facilities">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="col-6">
                                <div class="input-group input-group-sm date">
                                    <label asp-for="Availablity"></label>
                                    <input class="form-control form-control-sm"
                                           type="text" asp-for="Availablity"
                                           id="select-date" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                              id="calendar-icon">
                                            <i class="bi bi-calendar-fill"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" type="text"
                                          class="form-control form-control-sm"
                                          placeholder="Description"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="picture-label">
                                        <i class="fas fa-image"></i>
                                        <input asp-for="Image" type="file" id="image"
                                               accept="image/*" class="meetingroom-image">Upload Picture
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="IsActive"
                                               class="custom-control-input custom-control-input-info"
                                               type="checkbox" checked>
                                        <label asp-for="IsActive" class="custom-control-label">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="preview hidden mt-4">
                                <div class="row d-flex align-items-center">
                                    <div class="col-8">
                                        <img id="imagePreview" class="image-preview" src="#"
                                             alt="Selected Image">
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="btn btn-close close-preview"
                                                aria-label="Close" id="close-preview">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="row">
                            <button type="submit" name="action" value="save"
                                    class="btn btn-sm btn-info px-4 mr-4">
                                Save
                            </button>

                            <a type="button" class="btn btn-sm btn-danger px-4"
                               asp-area="Admin" asp-controller="MeetingRoom" asp-action="Index">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/item.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css" />
}

@section Scripts {
    <partial name="../Shared/PartialViews/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/meetingroom.js"></script>
}

